.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Отступ между прямоугольниками */
    padding: 50px 15px 20px; /* Верхний отступ 45px, боковые по 15px */
    width: 100%;
    box-sizing: border-box;
}

.header label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px); /* Учитываем отступы по бокам */
    background: #333; /* Темный фон */
    padding: 30px; /* Увеличил высоту */
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    color: #fff; /* Белый текст */
    border-radius: 12px; /* Скругленные углы */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header span {
    font-weight: 800;
    color: #A76729; /* Золотистый цвет значений */
}
