.header {
    background-color: #333333; /* Темный фон для каждого блока */
    padding: 20px;
    margin: 52px 0 10px 0; /* Отступ сверху на 52px (47px меню + 5px промежуток) */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header label {
    display: flex; /* Размещаем элементы в строку */
    justify-content: space-between; /* Пространство между элементами */
    align-items: center; /* Выравнивание по центру */
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header label strong {
    color: #f39c12; /* Золотой цвет для выделенных элементов */
}

.header span {
    font-weight: 800;
    color: #A76729; /* Золотистый цвет значений */
    margin-left: 10px; /* Расстояние между текстом и значением */
}
