        body {
            margin: 0;
            height: 100vh; /* Устанавливаем высоту страницы на 100% */
            background-image: url('background.jpg'); /* Указываем путь к картинке */
            background-size: cover; /* Картинка будет растягиваться, чтобы покрыть весь экран */
            background-position: center; /* Центрируем картинку */
            background-repeat: no-repeat; /* Картинка не будет повторяться */
        }
