body {
    background-color: #000000; /* Темный фон */
    color: white; /* Белый цвет текста */
    font-family: Arial, sans-serif;
    height: 100vh; /* Полноэкранный режим */
    overflow: hidden; /* Отключение прокрутки */
}
