        body {
            margin: 0;
            padding: 0;
            height: 100vh;  /* Устанавливаем высоту на весь экран */
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Размещаем элементы по верху и низу */
        }

        .content {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button-container {
            position: fixed;
            bottom: 20px;  /* Отступ от нижней части экрана */
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;  /* Поверх других элементов */
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            border: none;
        }
