  #sidebar {
      position: fixed;
      left: 0;
      top: 0;
      width: 250px;
      height: 100%;
      background: #2A2A2A;
      color: white;
      padding: 15px;
      transform: translateX(-100%);
      transition: transform 0.3s;
  }
  #sidebar.active {
      transform: translateX(0);
  }
  .hidden {
      display: none;
  }
