        body {
            padding-top: 47px;
        }

        .item {
            background-color: #333333; /* Темный фон для каждого блока */
            padding: 8px; /* Уменьшаем внутренний отступ */
            margin: 5px 0; /* Уменьшаем внешний отступ */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            line-height: 1.2; /* Уменьшаем межстрочный интервал */
        }

        .item p {
            margin: 5px 0;
        }

        .item strong {
            color: #f39c12;
        }
