body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 12px;
    background: transparent; /* Прозрачный фон для всего body */
}

.header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: transparent; /* Прозрачный фон для шапки */
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: auto;
    position: fixed;
    bottom: 20px;
    background-color: transparent; /* Прозрачный фон для таблицы */
    border-top: 2px solid #ddd;
    left: 0;
    right: 0;
}

.result-table th, .result-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    background: transparent; /* Прозрачный фон для ячеек таблицы */
}

.result-table th {
    background-color: transparent; /* Прозрачный фон для заголовков */
}

.result-table td {
    background-color: transparent; /* Прозрачный фон для ячеек */
}
